*{
  margin:0;
  color:brown;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin:auto;
}

.links{
  margin-left:auto;
}

.links a{
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover{
  color:blue;
}

.homeContent{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  max-width: 600px;
}

.preview:hover{
  border-bottom: 2px solid red;
}
.delbtn{
  color:blue;
  border-radius: 5px;
}